<input type="text" [formControl]="searchFilter" placeholder="Rechercher..." />
<select [formControl]="typeFilter">
    <option value="">Tous les types</option>
    <option value="Air">Air</option>
    <option value="Eau">Eau</option>
    <option value="Plastique">Plastique</option>
    <option value="Chimique">Chimique</option>
    <option value="Dépôt sauvage">Dépôt sauvage</option>
</select>

@for (pollution of (filteredPollutions$ | async); track submittedPollutions$) 
{
    <app-pollution-recap [pollution]="pollution"></app-pollution-recap>
    
    <button (click)="onDelete(pollution)">
    <!-- <button> -->
        Supprimer
    </button>
    <button (click)="onEdit(pollution)">
    <!-- <button> -->
        Modifier
    </button>
    @if (isConnected$ | async) {
        <button
        (click)="toggleFavorite(pollution.id)"
        [class.active]="isFavorite()(pollution.id)">
            {{ isFavorite()(pollution.id) ? 'Retirer des favoris' : 'Ajouter aux favoris' }}
        </button>
    }
}
@empty
{
    <p>Aucune pollutions trouvées!</p>
}